<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/style.css"/>
        <title>Number Off</title>
    </head>
    <body>
        <span class="event oneline" style="margin: 10px">Rookie Rotation Round 1 (2023)</span>
        <div style="display: flex;justify-content: center;width:100%">
            <div class="group">
                <span class="grouptag oneline">Group:</span>
                <span class="grouptitle oneline">A</span>
            </div>
        </div>
        
    </body>
</html>